body{
	background-color:#f5f5f5;
}
.head{
    font-size:40px;
	background-color:#011e29;
	color:white;
	margin:5px;
	padding:25px;
	text-align:center;
    font-weight:bold;
}

.sections{
	display:flex;
}
.latest-news-section , .pictorial-news-section{
	width:25%;
	background-color:white;
	margin:10px;
	text-align:center;
	border-radius:10px;
	height:fit-content;
}
.main-article-section{
	height:fit-content;
	width:50%;
	background-color:white;
	margin:10px;
	text-align:center;
	border-radius:10px;
	padding:20px;
}
img{
	height:100px;
	padding:10px;
}